{#
 #  (c) 2024 Alberto Morón Hernández
 #}
{% extends "common/_base.html.jinja2" %}

{% block main %}
    <div class="row">
        <div class="col-10 offset-1 col-md-4 offset-md-4">
            <h1>
                <i class="bi bi-door-open text-primary"></i>
                Log in
            </h1>

            {% if prev_url == "/auth/signup/" or "LOGIN_USER_NOT_VERIFIED" in errors %}
                <div class="card border-info my-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <i
                                    class="bi bi-info-circle-fill text-info h5"></i>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <h5 class="card-title">
                                    Please verify your email
                                </h5>
                            </div>
                            <p class="card-text">
                                Please follow the link in the email we have sent
                                you to verify your account before logging in.
                            </p>
                        </div>
                    </div>
                </div>
            {% endif %}

            {% if prompt_to_reverify %}
                <div class="card border-info my-3" id="verificationInfoCard">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <i
                                    class="bi bi-info-circle-fill text-info h5"></i>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <h5 class="card-title">
                                    Please request a new verification link
                                </h5>
                            </div>
                            <p class="card-text">
                                The verification link you followed has expired.
                                Please
                                <!-- TODO: implement re-request verification (with email rate-limiting / cool-off !)-->
                                <a hx-get="">click here</a>
                                to request we email you a new one.
                            </p>
                        </div>
                    </div>
                </div>
            {% endif %}

            {% if prev_url == "/auth/verify/" %}
                <div class="card border-success my-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <i
                                    class="bi bi-check-circle-fill text-success h5"></i>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <h5 class="card-title">
                                    Thank you for verifying
                                </h5>
                            </div>
                            <p class="card-text">
                                Thank you for verifying your email. You may now
                                log in.
                            </p>
                        </div>
                    </div>
                </div>
            {% endif %}

            {% block login_form %}
                <form id="loginForm" hx-post="/auth/authenticate/">
                    <div class="mb-3">
                        <label for="username" class="form-label fw-bold">
                            Email:
                        </label>
                        <input
                            type="text"
                            id="username"
                            name="username"
                            value="{{ username }}"
                            class="form-control"
                            required
                            {% if prompt_to_reverify %}disabled{% endif %} />
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label fw-bold">
                            Password:
                        </label>
                        <input
                            type="password"
                            id="password"
                            name="password"
                            class="form-control"
                            required
                            {% if prompt_to_reverify %}disabled{% endif %} />
                    </div>

                    {% if "LOGIN_BAD_CREDENTIALS" in errors %}
                        <div class="card border-warning mb-3">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <i
                                            class="bi bi-info-circle-fill text-warning h5"></i>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title">
                                            Unknown email or password
                                        </h5>
                                    </div>
                                </div>
                                <p class="card-text">
                                    No user matching the provided email or
                                    password. Please try again.
                                </p>
                            </div>
                        </div>
                    {% endif %}

                    <button
                        type="submit"
                        id="submit"
                        class="btn btn-primary float-end"
                        {% if prompt_to_reverify %}disabled{% endif %}>
                        Log in
                    </button>
                </form>
            {% endblock %}
        </div>
    </div>
{% endblock %}
