{#
 #  (c) 2024 Alberto Morón Hernández
 #}
{% extends "common/_base.html.jinja2" %}

{% block main_content %}
    <h1>Log in</h1>

    <form id="loginForm" hx-post="/auth/authenticate/">
        <label for="username">Email:</label>
        <input type="text" id="username" name="username" required />
        <br />
        <br />
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required />
        <br />
        <br />

        <button type="submit">Log in</button>
    </form>
{% endblock %}
