{#
 #  (c) 2024 Alberto Morón Hernández
 #}
{% extends "common/_base.html.jinja2" %}

{% block main %}
    <div class="row">
        <div class="col-10 offset-1 col-md-4 offset-md-4">
            <h1>
                <i class="bi bi-door-open text-primary"></i>
                Log in
            </h1>

            {% block login_form %}
                <form id="loginForm" hx-post="/auth/authenticate/">
                    <div class="mb-3">
                        <label for="username" class="form-label fw-bold">
                            Email:
                        </label>
                        <input
                            type="text"
                            id="username"
                            name="username"
                            value="{{ username }}"
                            class="form-control {{ classes_by_id['username'] }}"
                            required />
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label fw-bold">
                            Password:
                        </label>
                        <input
                            type="password"
                            id="password"
                            name="password"
                            class="form-control {{ classes_by_id['password'] }}"
                            required />
                        {% if "LOGIN_BAD_CREDENTIALS" in errors %}
                            <div class="invalid-feedback">
                                The email or password you provided do not match
                                a user. Please try again.
                            </div>
                        {% endif %}
                    </div>

                    {% if "LOGIN_USER_NOT_VERIFIED" in errors %}
                        <div class="card border-info mb-3">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <i
                                        class="bi bi-info-circle-fill text-info"></i>
                                    Please verify your email
                                </h5>
                                <p class="card-text">
                                    Please follow the link in the email we have
                                    sent you to verify your account before
                                    logging in.
                                </p>
                            </div>
                        </div>
                    {% endif %}

                    <button type="submit" class="btn btn-primary float-end">
                        Log in
                    </button>
                </form>
            {% endblock %}
        </div>
    </div>
{% endblock %}
