{#
# (c) 2024 Alberto Morón Hernández
#}
{% extends "common/_base.html.jinja2" %}

{% block main %}
    <div class="row">
        <div class="col-10 offset-1 col-md-8 offset-md-2">
            <div class="row">
                <div class="col-2 text-center">
                    <i class="bi bi-house-heart text-primary fs-1"></i>
                </div>
                <div class="col-10"><h1 class="mt-1">Sign up</h1></div>
            </div>

            {# first half of sign-up form, filtering prospects #}

            <form id="filterProspectForm" action="/auth/filterProspect">
                {# Q1/3: question - provider #}
                <div class="row mt-2">
                    <div class="col-2 position-relative">
                        <div class="row h-50"></div>
                        <div class="row h-50">
                            <div
                                class="col border-end border-1 border-black"></div>
                            <div
                                class="col border-start border-1 border-black"></div>
                        </div>
                        <span
                            class="position-absolute top-50 start-50 translate-middle bg-white">
                            <i class="bi bi-1-circle-fill fs-3"></i>
                        </span>
                    </div>

                    <div class="col-10">
                        <p class="fs-5 mb-0">
                            Who is your deposit registered with?
                        </p>
                    </div>
                </div>

                {# Q1/3: answer input #}
                <div class="row">
                    <div class="col-1 border-end border-1 border-black"></div>
                    <div class="col-1 border-start border-1 border-black"></div>
                    <div class="col-10 pt-3 pb-5 ps-4">
                        <div class="row">
                            <div
                                class="col-12 col-md-6 form-check pb-3 pb-md-0">
                                <input
                                    class="form-check-input"
                                    type="radio"
                                    name="providerChoiceRadio"
                                    id="providerTDS" />
                                <label
                                    class="form-check-label"
                                    for="providerTDS"
                                    role="button">
                                    Tenancy Deposit Scheme (TDS)
                                </label>
                            </div>
                            <div class="col-12 col-md-6 form-check">
                                <input
                                    class="form-check-input"
                                    type="radio"
                                    name="providerChoiceRadio"
                                    id="providerOther" />
                                <label
                                    class="form-check-label"
                                    for="providerOther"
                                    role="button">
                                    A different provider
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                {# Q2/3: question - end date #}
                <div class="row">
                    <div class="col-2 position-relative">
                        <div class="row h-50">
                            <div
                                class="col border-end border-1 border-black"></div>
                            <div
                                class="col border-start border-1 border-black"></div>
                        </div>
                        <div class="row h-50">
                            <div
                                class="col border-end border-1 border-black"></div>
                            <div
                                class="col border-start border-1 border-black"></div>
                        </div>
                        <span
                            class="position-absolute top-50 start-50 translate-middle bg-white">
                            <i class="bi bi-2-circle-fill fs-3"></i>
                        </span>
                    </div>

                    <div class="col-10">
                        <p class="fs-5 mb-0">When does your tenancy end?</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2">
                        <div class="row h-100">
                            <div
                                class="col border-end border-1 border-black"></div>
                            <div
                                class="col border-start border-1 border-black"></div>
                        </div>
                    </div>
                    <div class="col-10">
                        <p class="text-muted mb-0">
                            This can be a date in the past or the future.
                        </p>
                    </div>
                </div>

                {# Q2/3: answer input #}
                <div class="row">
                    <div class="col-1 border-end border-1 border-black"></div>
                    <div class="col-1 border-start border-1 border-black"></div>
                    <div class="col-10 pt-3 pb-5 ps-4">
                        <label>
                            <input
                                type="date"
                                name="tenancyEndDate"
                                class="form-control" />
                        </label>
                    </div>
                </div>

                {# first half form submission #}
                <div class="row">
                    <div class="col-2 position-relative">
                        <div class="row h-50">
                            <div
                                class="col border-end border-1 border-black"></div>
                            <div
                                class="col border-start border-1 border-black"></div>
                        </div>
                        <div class="row h-50"></div>
                        <span
                            class="position-absolute top-50 start-50 translate-middle bg-white">
                            <i class="bi bi-arrow-right-circle fs-3"></i>
                        </span>
                    </div>

                    <div class="col-10">
                        <button type="submit" class="btn btn-primary float-end">
                            Next
                        </button>
                    </div>
                </div>
            </form>

            {# second half of sign-up form, registering users #}
            <hr />
            <!-- TODO: remove -->

            {# reiterate answer Q1 #}
            <div class="row">
                <div class="col-2 position-relative">
                    <div class="row h-50"></div>
                    <div class="row h-50">
                        <div
                            class="col border-end border-1 border-dark-subtle"></div>
                        <div
                            class="col border-start border-1 border-dark-subtle"></div>
                    </div>
                    <span
                        class="position-absolute top-50 start-50 translate-middle bg-white">
                        <i
                            class="bi bi-check-circle-fill fs-3 text-black text-opacity-25"></i>
                    </span>
                </div>

                <div class="col-10">
                    <p class="fs-5 mb-0 text-black text-opacity-50">
                        Deposit held by TDS
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-1 border-end border-1 border-dark-subtle"></div>
                <div
                    class="col-1 border-start border-1 border-dark-subtle"></div>
                <div class="col-10 pt-3 pb-2 ps-4">{# vertical spacer #}</div>
            </div>

            {# reiterate answer Q2 #}
            <div class="row">
                <div class="col-2 position-relative">
                    <div class="row h-50">
                        <div
                            class="col border-end border-1 border-dark-subtle"></div>
                        <div
                            class="col border-start border-1 border-dark-subtle"></div>
                    </div>
                    <div class="row h-50">
                        <div
                            class="col border-end border-1 border-dark-subtle"></div>
                        <div
                            class="col border-start border-1 border-dark-subtle"></div>
                    </div>
                    <span
                        class="position-absolute top-50 start-50 translate-middle bg-white">
                        <i
                            class="bi bi-check-circle-fill fs-3 text-black text-opacity-25"></i>
                    </span>
                </div>

                <div class="col-10">
                    <p class="fs-5 mb-0 text-black text-opacity-50">
                        &lt;REITERATE ANSWER Q2&gt;
                        <!-- TODO: -->
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-1 border-end border-1 border-dark-subtle"></div>
                <div
                    class="col-1 border-start border-1 border-dark-subtle"></div>
                <div class="col-10 pt-3 pb-2 ps-4">{# vertical spacer #}</div>
            </div>

            <form id="signupForm" action="/auth/register/">
                {# Q3/3: question - email and password #}
                <div class="row">
                    <div class="col-2 position-relative">
                        <div class="row h-50">
                            <div
                                class="col border-end border-1 border-dark-subtle"></div>
                            <div
                                class="col border-start border-1 border-dark-subtle"></div>
                        </div>
                        <div class="row h-50">
                            <div
                                class="col border-end border-1 border-black"></div>
                            <div
                                class="col border-start border-1 border-black"></div>
                        </div>
                        <span
                            class="position-absolute top-50 start-50 translate-middle bg-white">
                            <i class="bi bi-3-circle-fill fs-3"></i>
                        </span>
                    </div>

                    <div class="col-10 pb-2">
                        <p class="fs-5 mb-0">Create your account</p>
                    </div>
                </div>

                {# Q3/3: answer input #}
                <div class="row">
                    <div class="col-1 border-end border-1 border-black"></div>
                    <div class="col-1 border-start border-1 border-black"></div>
                    <div class="col-10 col-md-6 ps-4">
                        {% block signup_form %}
                            <div class="mb-3">
                                <label for="email" class="form-label fw-bold">
                                    Email:
                                </label>
                                <input
                                    type="text"
                                    id="email"
                                    name="email"
                                    value="{{ email }}"
                                    class="form-control {{ classes_by_id['email'] }}"
                                    required />
                                {% if "REGISTER_INVALID_EMAIL" in errors %}
                                    <div class="invalid-feedback">
                                        Please provide a valid email.
                                    </div>
                                {% endif %}
                            </div>
                            <div class="mb-3">
                                <label
                                    for="password"
                                    class="form-label fw-bold">
                                    Password:
                                </label>
                                <input
                                    type="password"
                                    id="password"
                                    name="password"
                                    value="{{ password }}"
                                    class="form-control {{ classes_by_id['password'] }}"
                                    aria-describedby="passwordHelp"
                                    required />
                                <div id="passwordHelp" class="form-text">
                                    Password must be at least 8 characters long.
                                </div>
                                {% if "REGISTER_INVALID_PASSWORD" in errors %}
                                    <div class="invalid-feedback">
                                        {% if "PASSWORD_TOO_SHORT" in errors %}
                                            Please make sure your password is at
                                            least 8 characters long.
                                        {% else %}
                                            Please provide a valid password.
                                        {% endif %}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="mb-3">
                                <label
                                    for="confirm-password"
                                    class="form-label fw-bold">
                                    Confirm password:
                                </label>
                                <input
                                    type="password"
                                    id="confirm-password"
                                    name="confirm_password"
                                    class="form-control {{ classes_by_id['confirm-password'] }}"
                                    required />
                                {% if "CONFIRM_PASSWORD_DOES_NOT_MATCH" in errors %}
                                    <div class="invalid-feedback">
                                        Please provide the same password twice.
                                    </div>
                                {% endif %}
                            </div>
                        {% endblock %}
                    </div>
                </div>

                {# second half form submission #}
                <div class="row">
                    <div class="col-2 position-relative">
                        <div class="row h-50">
                            <div
                                class="col border-end border-1 border-black"></div>
                            <div
                                class="col border-start border-1 border-black"></div>
                        </div>
                        <div class="row h-50"></div>
                        <span
                            class="position-absolute top-50 start-50 translate-middle bg-white">
                            <i class="bi bi-circle fs-3"></i>
                        </span>
                    </div>

                    <div class="col-10">
                        <button type="submit" class="btn btn-primary float-end">
                            Sign up
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
