{#
# (c) 2024 Alberto Morón Hernández
#}
{% extends "common/_base.html.jinja2" %}

{% block main_content %}
    <div class="row">
        <div class="col-10 offset-1 col-md-4 offset-md-4">
            <h1>Sign up</h1>

            {% block signup_form %}
                <form id="signupForm" hx-post="/auth/register/">
                    <div class="mb-3">
                        <label for="email" class="form-label fw-bold">
                            Email:
                        </label>
                        <input
                            type="text"
                            id="email"
                            name="email"
                            value="{{ email }}"
                            class="form-control {{ classes_by_id['email'] }}"
                            required />
                        {% if "REGISTER_INVALID_EMAIL" in errors %}
                            <div class="invalid-feedback">
                                Please provide a valid email.
                            </div>
                        {% endif %}
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label fw-bold">
                            Password:
                        </label>
                        <input
                            type="password"
                            id="password"
                            name="password"
                            value="{{ password }}"
                            class="form-control {{ classes_by_id['password'] }}"
                            aria-describedby="passwordHelp"
                            required />
                        <div id="passwordHelp" class="form-text">
                            Password must be at least 8 characters long.
                        </div>
                        {% if "REGISTER_INVALID_PASSWORD" in errors %}
                            <div class="invalid-feedback">
                                {% if "PASSWORD_TOO_SHORT" in errors %}
                                    Please make sure your password is at least 8
                                    characters long.
                                {% else %}
                                    Please provide a valid password.
                                {% endif %}
                            </div>
                        {% endif %}
                    </div>
                    <div class="mb-3">
                        <label
                            for="confirm_password"
                            class="form-label fw-bold">
                            Confirm password:
                        </label>
                        <input
                            type="password"
                            id="confirm-password"
                            name="confirm_password"
                            class="form-control {{ classes_by_id['confirm-password'] }}"
                            required />
                        {% if "CONFIRM_PASSWORD_DOES_NOT_MATCH" in errors %}
                            <div class="invalid-feedback">
                                Please provide the same password twice.
                            </div>
                        {% endif %}
                    </div>
                    <button type="submit" class="btn btn-primary float-end">
                        Sign up
                    </button>
                </form>
            {% endblock %}
        </div>
    </div>
{% endblock %}
