{#
 # (c) 2024 Alberto Morón Hernández
 #}

{% block onboarding_form %}
    <form
        id="onboardingForm"
        hx-post="/dashboard/completeOnboarding/"
        x-data="onboardingState('{{ tenancy_end_date }}')">
        {# Q1/4: question - name #}
        <div class="row mt-2">
            <div class="col-2 position-relative">
                <div class="row h-50"></div>
                <div class="row h-50">
                    <div class="col border-end border-1 border-black"></div>
                    <div class="col border-start border-1 border-black"></div>
                </div>
                <span
                    class="position-absolute top-50 start-50 translate-middle bg-white">
                    <i class="bi bi-1-circle-fill fs-3"></i>
                </span>
            </div>

            <div class="col-10">
                <p class="fs-5 mb-0">How should we address you?</p>
            </div>
        </div>

        {# Q1/4: answer input #}
        <div class="row">
            <div class="col-1 border-end border-1 border-black"></div>
            <div class="col-1 border-start border-1 border-black"></div>
            <div class="col-10 pt-3 pb-5 ps-4">
                <div class="row">
                    <div class="col-10 col-md-7 col-lg-5 ps-4">
                        <div>
                            <label for="name" class="form-label fw-bold">
                                Your name:
                            </label>
                            <input
                                type="text"
                                id="name"
                                name="name"
                                x-model.lazy="name"
                                @change="validateForm()"
                                class="form-control"
                                required />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <p class="text-danger" x-show="errors.nameIsInvalid">
                        Your name must only include letters.
                    </p>
                </div>
            </div>
        </div>

        {# Q2/4: question - deposit amount #}
        <div class="row">
            <div class="col-2 position-relative">
                <div class="row h-50">
                    <div
                        class="col border-end border-1 border-dark-subtle"></div>
                    <div
                        class="col border-start border-1 border-dark-subtle"></div>
                </div>
                <div class="row h-50">
                    <div class="col border-end border-1 border-black"></div>
                    <div class="col border-start border-1 border-black"></div>
                </div>
                <span
                    class="position-absolute top-50 start-50 translate-middle bg-white">
                    <i class="bi bi-2-circle-fill fs-3"></i>
                </span>
            </div>

            <div class="col-10">
                <p class="fs-5 mb-0">How much is your deposit?</p>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <div class="row h-100">
                    <div class="col border-end border-1 border-black"></div>
                    <div class="col border-start border-1 border-black"></div>
                </div>
            </div>
            <div class="col-10 col-md-6">
                <p class="text-muted mb-0">Please say to the nearest pound.</p>
                <p class="text-muted mb-0">
                    If the deposit is shared between more than one person,
                    provide the total figure.
                </p>
            </div>
        </div>

        {# Q2/4: answer input #}
        <div class="row">
            <div class="col-1 border-end border-1 border-black"></div>
            <div class="col-1 border-start border-1 border-black"></div>
            <div class="col-10 pt-3 pb-5 ps-4">
                <div class="row">
                    <div class="col-6 col-md-4 col-lg-4">
                        <div class="input-group">
                            <span class="input-group-text">£</span>
                            <input
                                type="number"
                                name="depositAmount"
                                min="10"
                                class="form-control"
                                aria-label="Deposit (to the nearest pound)"
                                x-model.lazy="depositAmount"
                                @change="validateForm()"
                                @keydown="if ($event.key === '.'){ $event.preventDefault(); }"
                                @input="$event.target.value = $event.target.value.replace(/[^0-9]*/g,'');" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <p
                        class="text-danger"
                        x-show="errors.depositAmountTooSmall">
                        Please enter an amount over £10.
                    </p>
                </div>
            </div>
        </div>

        {# Q3/4: question - start date #}
        <div class="row">
            <div class="col-2 position-relative">
                <div class="row h-50">
                    <div class="col border-end border-1 border-black"></div>
                    <div class="col border-start border-1 border-black"></div>
                </div>
                <div class="row h-50">
                    <div class="col border-end border-1 border-black"></div>
                    <div class="col border-start border-1 border-black"></div>
                </div>
                <span
                    class="position-absolute top-50 start-50 translate-middle bg-white">
                    <i class="bi bi-3-circle-fill fs-3"></i>
                </span>
            </div>

            <div class="col-10">
                <p class="fs-5 mb-0">When did your tenancy start?</p>
            </div>
        </div>

        {# Q3/4: answer input #}
        <div class="row">
            <div class="col-1 border-end border-1 border-black"></div>
            <div class="col-1 border-start border-1 border-black"></div>
            <div class="col-10 pt-3 pb-5 ps-4">
                <label class="form-label fw-bold">Start date:</label>
                <div class="row">
                    <div class="col-8 col-md-5 col-lg-4 col-xl-3">
                        <input
                            type="date"
                            name="tenancyStartDate"
                            x-model.lazy="tenancyStartDate"
                            @change="validateForm()"
                            class="form-control mt-1"
                            :class="errors.datesInWrongOrder ? 'is-invalid' : ''" />
                    </div>
                </div>
                <div class="row" x-show="errors.datesInWrongOrder">
                    <p class="text-danger">
                        Start date must be before end date.
                    </p>
                </div>
            </div>
        </div>

        {# Q4/4: question - end date #}
        <div class="row">
            <div class="col-2 position-relative">
                <div class="row h-50">
                    <div class="col border-end border-1 border-black"></div>
                    <div class="col border-start border-1 border-black"></div>
                </div>
                <div class="row h-50">
                    <div class="col border-end border-1 border-black"></div>
                    <div class="col border-start border-1 border-black"></div>
                </div>
                <span
                    class="position-absolute top-50 start-50 translate-middle bg-white">
                    <i class="bi bi-4-circle-fill fs-3"></i>
                </span>
            </div>

            <div class="col-10">
                {% if tenancy_end_is_in_past %}
                    <p class="fs-5 mb-0">When did your tenancy end?</p>
                {% else %}
                    <p class="fs-5 mb-0">When does your tenancy end?</p>
                {% endif %}
            </div>
        </div>

        {# Q4/4: answer input #}
        {% block tenancy_end_input %}
            <div class="row">
                <div class="col-1 border-end border-1 border-black"></div>
                <div class="col-1 border-start border-1 border-black"></div>
                <div class="col-10 pt-3 pb-5 ps-4">
                    <p class="mb-0">
                        {% if tenancy_end_is_in_past %}
                            You told us your tenancy
                            <span class="fw-bold">ended on:</span>
                        {% else %}
                            You told us your tenancy
                            <span class="fw-bold">ends on:</span>
                        {% endif %}
                    </p>

                    <div
                        class="row"
                        x-data="{ locked: true, toggle() { this.locked = ! this.locked } }">
                        <div class="col-8 col-md-5 col-lg-4 col-xl-3">
                            <input
                                type="date"
                                name="tenancyEndDate"
                                x-model.lazy="tenancyEndDate"
                                @change="validateForm()"
                                class="form-control mt-1"
                                :class="errors.datesInWrongOrder || errors.tenancyIsTooShort ? 'is-invalid' : ''"
                                :disabled="locked" />
                        </div>
                        <div class="col-4">
                            <button
                                type="button"
                                class="btn btn-link mt-1 px-0"
                                @click="toggle()"
                                x-text="locked ? 'Edit' : 'Save'"></button>
                        </div>
                    </div>
                    <div class="row">
                        <p
                            class="text-danger"
                            x-show="errors.datesInWrongOrder">
                            End date must be after start date.
                        </p>
                        <p
                            class="text-danger"
                            x-show="errors.tenancyIsTooShort">
                            Your tenancy must be at least 30 days long.
                        </p>
                    </div>
                </div>
            </div>
        {% endblock tenancy_end_input %}

        {# form submission #}
        <div class="row">
            <div class="col-2 position-relative">
                <div class="row h-50">
                    <div class="col border-end border-1 border-black"></div>
                    <div class="col border-start border-1 border-black"></div>
                </div>
                <div class="row h-50"></div>
                <span
                    class="position-absolute top-50 start-50 translate-middle bg-white">
                    <i class="bi bi-arrow-right-circle fs-3"></i>
                </span>
            </div>

            <div class="col-10 col-md-6">
                <button
                    type="submit"
                    class="btn btn-primary float-end"
                    :disabled="hasErrors()">
                    Next
                </button>
            </div>
        </div>
    </form>
{% endblock onboarding_form %}
