{#
 # (c) 2024 Alberto Morón Hernández
 #}

{% block onboarding_form %}
    <form id="onboardingForm" hx-post="/dashboard/completeOnboarding/">
        {# Q1/4: question - name #}
        <div hx-target="this" hx-swap="outerHTML">
            <div class="row mt-2">
                <div class="col-2 position-relative">
                    <div class="row h-50"></div>
                    <div class="row h-50">
                        <div class="col border-end border-1 border-black"></div>
                        <div
                            class="col border-start border-1 border-black"></div>
                    </div>
                    <span
                        class="position-absolute top-50 start-50 translate-middle bg-white">
                        <i class="bi bi-1-circle-fill fs-3"></i>
                    </span>
                </div>

                <div class="col-10">
                    <p class="fs-5 mb-0">How should we address you?</p>
                </div>
            </div>

            {# Q1/4: answer input #}
            <div class="row">
                <div class="col-1 border-end border-1 border-black"></div>
                <div class="col-1 border-start border-1 border-black"></div>
                <div class="col-10 pt-3 pb-5 ps-4">
                    <div class="row">
                        <div class="col-10 col-md-7 col-lg-5">
                            <div>
                                <label for="name" class="form-label fw-bold">
                                    Your name:
                                </label>
                                <input
                                    type="text"
                                    id="name"
                                    name="name"
                                    maxlength="40"
                                    @input="$event.target.value = $event.target.value.replace(/\s+/g,' ');"
                                    value="{{ onboarding_form["values"]["name"] if onboarding_form["values"]["name"] }}"
                                    hx-post="/dashboard/onboarding/form/validate/"
                                    hx-target="#onboardingForm"
                                    class="form-control {{ onboarding_form["field_classes"]["name"]|d('') }}"
                                    required />
                            </div>
                        </div>
                    </div>
                    {% if onboarding_form["errors"]["name"] %}
                        <div class="row text-danger">
                            <ul class="mb-0">
                                {% for err_cls, input in onboarding_form["errors"]["name"].items() %}
                                    {% if err_cls == "InvalidCharError" %}
                                        <li>
                                            Please include only letters, spaces,
                                            - or '
                                        </li>
                                    {% endif %}
                                    {% if err_cls == "EmptyStringError" %}
                                        <li>Please enter your name</li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

        {# Q2/4: question - deposit amount #}
        <div class="row">
            <div class="col-2 position-relative">
                <div class="row h-50">
                    <div
                        class="col border-end border-1 border-dark-subtle"></div>
                    <div
                        class="col border-start border-1 border-dark-subtle"></div>
                </div>
                <div class="row h-50">
                    <div class="col border-end border-1 border-black"></div>
                    <div class="col border-start border-1 border-black"></div>
                </div>
                <span
                    class="position-absolute top-50 start-50 translate-middle bg-white">
                    <i class="bi bi-2-circle-fill fs-3"></i>
                </span>
            </div>

            <div class="col-10">
                <p class="fs-5 mb-0">How much is your deposit?</p>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <div class="row h-100">
                    <div class="col border-end border-1 border-black"></div>
                    <div class="col border-start border-1 border-black"></div>
                </div>
            </div>
            <div class="col-10 col-md-6">
                <p class="text-muted mb-0">Please say to the nearest pound.</p>
                <p class="text-muted mb-0">
                    If the deposit is shared between more than one person,
                    provide the total figure.
                </p>
            </div>
        </div>

        {# Q2/4: answer input #}
        <div class="row">
            <div class="col-1 border-end border-1 border-black"></div>
            <div class="col-1 border-start border-1 border-black"></div>
            <div class="col-10 pt-3 pb-5 ps-4">
                <div class="row">
                    <div class="col-7 col-md-4">
                        <div class="input-group">
                            <span class="input-group-text">£</span>
                            <input
                                type="number"
                                name="depositAmount"
                                min="100"
                                aria-label="Deposit (to the nearest pound)"
                                @keydown="if ($event.key === '.'){ $event.preventDefault(); }"
                                @input="$event.target.value = $event.target.value.replace(/[^0-9]*/g,'');"
                                value="{{ onboarding_form["values"]["deposit_amount"] if onboarding_form["values"]["deposit_amount"] }}"
                                hx-post="/dashboard/onboarding/form/validate/"
                                hx-target="#onboardingForm"
                                class="form-control {{ onboarding_form["field_classes"]["deposit_amount"]|d('') }}"
                                required />
                        </div>
                    </div>
                </div>
                {% if onboarding_form["errors"]["deposit_amount"] %}
                    <div class="row text-danger">
                        <ul class="mb-0">
                            {% for err_cls, input in onboarding_form["errors"]["deposit_amount"].items() %}
                                {% if err_cls == "DepositTooSmall" %}
                                    <li>Please enter an amount over £100</li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>
        </div>

        {# Q3/4: question - start date #}
        <div class="row">
            <div class="col-2 position-relative">
                <div class="row h-50">
                    <div class="col border-end border-1 border-black"></div>
                    <div class="col border-start border-1 border-black"></div>
                </div>
                <div class="row h-50">
                    <div class="col border-end border-1 border-black"></div>
                    <div class="col border-start border-1 border-black"></div>
                </div>
                <span
                    class="position-absolute top-50 start-50 translate-middle bg-white">
                    <i class="bi bi-3-circle-fill fs-3"></i>
                </span>
            </div>

            <div class="col-10">
                <p class="fs-5 mb-0">When did your tenancy start?</p>
            </div>
        </div>

        {# Q3/4: answer input #}
        <div class="row">
            <div class="col-1 border-end border-1 border-black"></div>
            <div class="col-1 border-start border-1 border-black"></div>
            <div class="col-10 pt-3 pb-5 ps-4">
                <label class="form-label fw-bold">Start date:</label>
                <div class="row">
                    <div class="col-9 col-md-5 col-lg-4 col-xl-3">
                        <input
                            type="date"
                            name="tenancyStartDate"
                            x-model.lazy="fields.tenancyStartDate"
                            @change="validateForm()"
                            class="form-control mt-1"
                            :class="validationClassForField('tenancyStartDate')"
                            required />
                    </div>
                </div>
                <div
                    class="row d-none"
                    :class="{ 'd-none': !errors.tenancyStartDate.datesInWrongOrder }">
                    <p class="text-danger">
                        Start date must be before end date.
                    </p>
                </div>
            </div>
        </div>

        {# Q4/4: question - end date #}
        <div class="row">
            <div class="col-2 position-relative">
                <div class="row h-50">
                    <div class="col border-end border-1 border-black"></div>
                    <div class="col border-start border-1 border-black"></div>
                </div>
                <div class="row h-50">
                    <div class="col border-end border-1 border-black"></div>
                    <div class="col border-start border-1 border-black"></div>
                </div>
                <span
                    class="position-absolute top-50 start-50 translate-middle bg-white">
                    <i class="bi bi-4-circle-fill fs-3"></i>
                </span>
            </div>

            <div class="col-10">
                <p class="fs-5 mb-0" x-show="endDateIsInPast()">
                    When did your tenancy end?
                </p>
                <p class="fs-5 mb-0" x-show="!endDateIsInPast()">
                    When does your tenancy end?
                </p>
            </div>
        </div>

        {# Q4/4: answer input #}
        {% block tenancy_end_input %}
            <div class="row">
                <div class="col-1 border-end border-1 border-black"></div>
                <div class="col-1 border-start border-1 border-black"></div>
                <div class="col-10 pt-3 pb-5 ps-4">
                    <p class="mb-0">
                        You told us your tenancy
                        <span class="fw-bold" x-show="endDateIsInPast()">
                            ended on:
                        </span>
                        <span class="fw-bold" x-show="!endDateIsInPast()">
                            ends on:
                        </span>
                    </p>

                    <div
                        class="row"
                        x-data="{ editingEndDate: false, toggleEditingEndDate() { this.editingEndDate = ! this.editingEndDate } }">
                        <div class="col-9 col-md-5 col-lg-4 col-xl-3">
                            <input
                                type="date"
                                name="tenancyEndDate"
                                x-model.lazy="fields.tenancyEndDate"
                                @change="validateForm()"
                                class="form-control mt-1"
                                :class="validationClassForField('tenancyEndDate')"
                                x-show="editingEndDate"
                                required />
                            <p
                                class="mt-1 pt-2 mb-0"
                                x-text="fields.tenancyEndDate"
                                x-show="!editingEndDate"></p>
                        </div>
                        <div class="col-3 ps-0">
                            <button
                                type="button"
                                class="btn btn-link mt-1 px-0"
                                @click="toggleEditingEndDate()"
                                x-show="!editingEndDate">
                                Edit
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <p
                            class="text-danger d-none"
                            :class="{ 'd-none': !errors.tenancyEndDate.datesInWrongOrder }">
                            End date must be after start date.
                        </p>
                        <p
                            class="text-danger d-none"
                            :class="{ 'd-none': !errors.tenancyEndDate.isTooShort }">
                            Your tenancy must be at least 30 days long.
                        </p>
                        <p
                            class="text-danger d-none"
                            :class="{ 'd-none': !errors.tenancyEndDate.overSixMonthsAway }">
                            Unfortunately we only accept tenancies ending in the
                            next six months.
                        </p>
                        <p
                            class="text-danger d-none"
                            :class="{ 'd-none': !errors.tenancyEndDate.outsideDisputeWindow }">
                            Unfortunately your tenancy is outside the 90 day
                            dispute window.
                        </p>
                        <p
                            class="text-danger d-none"
                            :class="{ 'd-none': !errors.tenancyEndDate.tooCloseToWindowEnd }">
                            Unfortunately your tenancy is too close to the end
                            of the 90 day dispute window.
                        </p>
                    </div>
                </div>
            </div>
        {% endblock tenancy_end_input %}

        {# form submission #}
        <div class="row">
            <div class="col-2 position-relative">
                <div class="row h-50">
                    <div class="col border-end border-1 border-black"></div>
                    <div class="col border-start border-1 border-black"></div>
                </div>
                <div class="row h-50"></div>
                <span
                    class="position-absolute top-50 start-50 translate-middle bg-white">
                    <i class="bi bi-arrow-right-circle fs-3"></i>
                </span>
            </div>

            <div class="col-10 col-md-6">
                {% if onboarding_form["can_submit"] %}
                    <button type="submit" class="btn btn-primary float-end">
                        Next
                    </button>
                {% else %}
                    <button
                        type="submit"
                        class="btn btn-primary float-end"
                        disabled>
                        Next
                    </button>
                {% endif %}
            </div>
        </div>
    </form>
{% endblock onboarding_form %}
