{#
 # (c) 2024 Alberto Morón Hernández
 #}
{% extends "common/_base.html.jinja2" %}

{% block main %}
    <div class="row mb-5 mb-md-0">
        <div class="col-10 offset-1 col-md-8 offset-md-2">
            <div class="row">
                <div class="col-2 text-center">
                    <i class="bi bi-person-arms-up text-primary fs-1"></i>
                </div>
                <div class="col-10">
                    <h1 class="mt-1">Welcome!</h1>
                </div>
            </div>
        </div>
    </div>
{% endblock main %}
