{#
 # (c) 2024 Alberto Morón Hernández
 #}

{# first half of sign-up form, filtering prospects #}

{% block filter_prospect_form %}
    <form id="filterProspectForm" hx-post="/auth/filterProspect/">
        {# Q1/3: question - provider #}
        <div class="row mt-2">
            <div class="col-2 position-relative">
                <div class="row h-50"></div>
                <div class="row h-50">
                    <div class="col border-end border-1 border-black"></div>
                    <div class="col border-start border-1 border-black"></div>
                </div>
                <span
                    class="position-absolute top-50 start-50 translate-middle bg-white">
                    <i class="bi bi-1-circle-fill fs-3"></i>
                </span>
            </div>

            <div class="col-10">
                <p class="fs-5 mb-0">Who is your deposit registered with?</p>
            </div>
        </div>

        {# Q1/3: answer input #}
        <div class="row">
            <div class="col-1 border-end border-1 border-black"></div>
            <div class="col-1 border-start border-1 border-black"></div>
            <div class="col-10 pt-3 pb-5 ps-4">
                {% block filter_prospect_form__provider_choice %}
                    <div class="row" id="field-provider-choice">
                        <div class="col-12 form-check pb-3">
                            <!-- TODO: turn into big button with TDS logo. -->
                            <input
                                class="form-check-input"
                                type="radio"
                                name="providerChoice"
                                value="tds"
                                id="providerTDS"
                                hx-post="/auth/filterProspect/validateForm/?field=provider_choice"
                                hx-target="#field-provider-choice"
                                {% if filter_prospect_form["user_input"]["provider_choice"]=="tds" %}checked{% endif %}
                                required />
                            <label
                                class="form-check-label"
                                for="providerTDS"
                                role="button">
                                Tenancy Deposit Scheme (TDS)
                            </label>
                        </div>
                        <div class="col-12 form-check">
                            <input
                                class="form-check-input"
                                type="radio"
                                name="providerChoice"
                                value="other"
                                id="providerOther"
                                hx-post="/auth/filterProspect/validateForm/?field=provider_choice"
                                hx-target="#field-provider-choice"
                                {% if filter_prospect_form["user_input"]["provider_choice"]=="other" %}checked{% endif %}
                                required />
                            <label
                                class="form-check-label"
                                for="providerOther"
                                role="button">
                                A different provider
                            </label>
                        </div>
                    </div>
                {% endblock filter_prospect_form__provider_choice %}
            </div>
        </div>

        {# Q2/3: question - end date #}
        <div class="row">
            <div class="col-2 position-relative">
                <div class="row h-50">
                    <div class="col border-end border-1 border-black"></div>
                    <div class="col border-start border-1 border-black"></div>
                </div>
                <div class="row h-50">
                    <div class="col border-end border-1 border-black"></div>
                    <div class="col border-start border-1 border-black"></div>
                </div>
                <span
                    class="position-absolute top-50 start-50 translate-middle bg-white">
                    <i class="bi bi-2-circle-fill fs-3"></i>
                </span>
            </div>

            <div class="col-10">
                <p class="fs-5 mb-0">When does your tenancy end?</p>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <div class="row h-100">
                    <div class="col border-end border-1 border-black"></div>
                    <div class="col border-start border-1 border-black"></div>
                </div>
            </div>
            <div class="col-10">
                <p class="text-muted mb-0">
                    This can be a date in the past or the future.
                </p>
            </div>
        </div>

        {# Q2/3: answer input #}
        <div class="row">
            <div class="col-1 border-end border-1 border-black"></div>
            <div class="col-1 border-start border-1 border-black"></div>
            <div class="col-10 pt-3 ps-4">
                {% block filter_prospect_form__tenancy_end_date %}
                    <label id="field-tenancy-end-date">
                        <!-- TODO: set min and max -->
                        <input
                            type="date"
                            name="tenancyEndDate"
                            data-testid="tenancyEndDateInput"
                            value="{{ filter_prospect_form["user_input"]["tenancy_end_date"] }}"
                            hx-post="/auth/filterProspect/validateForm/?field=tenancy_end_date"
                            hx-target="#field-tenancy-end-date"
                            class="form-control mt-1 {{ filter_prospect_form["field_classes"]["tenancy_end_date"]|d('') }}"
                            required />
                    </label>
                {% endblock filter_prospect_form__tenancy_end_date %}
            </div>
        </div>
        <div class="row">
            <div class="col-1 border-end border-1 border-black"></div>
            <div class="col-1 border-start border-1 border-black"></div>
            <div class="col-10 col-md-6 pt-3 pb-5">
                <div class="accordion accordion-flush" id="accordion-why-ask">
                    <div class="accordion-item">
                        <h2
                            class="accordion-header border-bottom border-1 border-light">
                            <button
                                class="accordion-button collapsed p-1 text-muted"
                                type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#accordion-why-ask-body"
                                aria-expanded="false"
                                aria-controls="accordion-why-ask-body">
                                <i class="bi bi-info-circle pe-2"></i>
                                Why do we ask?
                            </button>
                        </h2>
                        <div
                            id="accordion-why-ask-body"
                            class="accordion-collapse collapse"
                            data-bs-parent="#accordion-why-ask">
                            <div class="accordion-body py-1 text-muted">
                                The TDS dispute process is only available for
                                the three months after you leave a property.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {# first half form submission #}
        <div class="row">
            <div class="col-2 position-relative">
                <div class="row h-50">
                    <div class="col border-end border-1 border-black"></div>
                    <div class="col border-start border-1 border-black"></div>
                </div>
                <div class="row h-50"></div>
                <span
                    class="position-absolute top-50 start-50 translate-middle bg-white">
                    <i class="bi bi-arrow-right-circle fs-3"></i>
                </span>
            </div>

            <div class="col-10 col-md-6">
                {% block submit_button %}
                    <button
                        type="submit"
                        id="submit-button"
                        class="btn btn-primary float-end"
                        {% if not filter_prospect_form["can_submit"] %}disabled{% endif %}
                        hx-swap-oob="outerHTML: #submit-button">
                        Next
                    </button>
                {% endblock submit_button %}
            </div>
        </div>
    </form>
{% endblock filter_prospect_form %}
