{#
 # (c) 2024 Alberto Morón Hernández
 #}

{% block signup_form %}
    {% include "/fragments/auth/signup/_filter_prospect_answers.html.jinja2" %}

    <div class="row mt-4">
        <div class="d-none d-md-block col-md-2">
            <p class="h2 float-end">👉👈</p>
        </div>

        <div class="col-12 col-md-8">
            <h2>It's not you, it's us...</h2>
            <p>We're sorry, DepositDuck is currently only available for:</p>
            <ul>
                <li class="pb-2">
                    People with deposits protected by
                    <strong>TDS.</strong>
                </li>
                {% if days_since_end_date > -180 %}
                    {% if days_since_end_date > 85 and days_since_end_date < 90 %}
                        <li>
                            Deposit disputes that have
                            <strong>at least five days</strong>
                            before the dispute window closes.
                            <br />
                            {% set days_left = ["zero", "one", "two", "three", "four", "five"][90 - days_since_end_date] %}
                            Unfortunately, the dispute window for your deposit
                            closes in
                            <strong>{{ days_left }}</strong>
                            days.
                        </li>
                    {% else %}
                        <li>
                            Deposit disputes within the
                            <strong>three-month deadline</strong>
                            set by TDS.
                        </li>
                    {% endif %}
                {% endif %}
                {% if days_since_end_date < -180 %}
                    <li>
                        Tenancies ending within the next
                        <strong>6 months.</strong>
                    </li>
                {% endif %}
            </ul>
            <p>
                If the above applies to friends or family, please let them know
                about DepositDuck!
            </p>

            <p class="text-center">
                <a
                    data-testid="linkToStartOver"
                    href="/signup/"
                    class="fs-5 float-end">
                    <i class="bi bi-arrow-counterclockwise pe-1"></i>
                    Start over
                </a>
            </p>
        </div>
    </div>

    {% block unsuitable_prospect_funnel %}
        <div class="row mt-5" id="unsuitableProspectFunnelCard">
            <div class="d-none d-md-block col-md-2"></div>

            <div class="col-12 col-md-8">
                <div
                    class="card mb-3 {% if has_submitted_funnel_form %}border-success{% endif %}">
                    <div class="card-body">
                        {% if has_submitted_funnel_form %}
                            <div class="row">
                                <div class="col">
                                    <i
                                        class="bi bi-check-circle-fill text-success fs-5"></i>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title">
                                        We hope to see you soon
                                    </h5>
                                </div>
                                <p class="card-text">
                                    Thank you for your interest in DepositDuck.
                                    We'll be in touch once we can meet your
                                    needs.
                                </p>
                            </div>
                        {% else %}
                            <p class="card-text">
                                Let us know who your current deposit provider is
                                and we'll get in touch once DepositDuck catches
                                up with your needs.
                            </p>
                            <form
                                hx-post="/auth/unsuitableProspectFunnel/"
                                hx-target="#unsuitableProspectFunnelCard"
                                hx-swap="outerHTML">
                                <div class="mb-3">
                                    <label
                                        for="email"
                                        class="form-label fw-bold">
                                        Your email:
                                    </label>
                                    {% block unsuitable_prospect_funnel__email %}
                                        <div class="row" id="fieldEmail">
                                            <div class="col-12 col-md-9">
                                                <input
                                                    type="email"
                                                    id="email"
                                                    name="email"
                                                    value="{{ unsuitable_prospect_form["user_input"]["email"] or '' }}"
                                                    hx-post="/auth/unsuitableProspectFunnel/validateForm/?field=email"
                                                    hx-target="#fieldEmail"
                                                    hx-swap="outerHTML"
                                                    class="form-control {{ unsuitable_prospect_form["field_classes"]["email"]|d('') }}"
                                                    required />
                                            </div>
                                        </div>
                                    {% endblock unsuitable_prospect_funnel__email %}
                                </div>
                                <div class="mb-3">
                                    <label
                                        for="provider-name"
                                        class="form-label fw-bold">
                                        Current deposit provider:
                                    </label>
                                    {% block unsuitable_prospect_funnel__provider_name %}
                                        <div class="row" id="fieldProviderName">
                                            <div class="col-12 col-md-9">
                                                <input
                                                    type="text"
                                                    name="providerName"
                                                    value="{{ unsuitable_prospect_form["user_input"]["provider_name"] or '' }}"
                                                    hx-post="/auth/unsuitableProspectFunnel/validateForm/?field=provider_name"
                                                    hx-target="#fieldProviderName"
                                                    hx-swap="outerHTML"
                                                    class="form-control {{ unsuitable_prospect_form["field_classes"]["provider_name"]|d('') }}"
                                                    required />
                                            </div>
                                        </div>
                                    {% endblock unsuitable_prospect_funnel__provider_name %}
                                </div>
                                {% block submit_button %}
                                    <button
                                        type="submit"
                                        id="submitButton"
                                        class="btn btn-outline-secondary float-end"
                                        {% if not unsuitable_prospect_form["can_submit"] %}disabled{% endif %}
                                        {% if oob_submit_button %}
                                            hx-swap-oob="outerHTML:
                                            #submitButton"
                                        {% endif %}>
                                        Submit
                                    </button>
                                {% endblock submit_button %}
                            </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endblock unsuitable_prospect_funnel %}
{% endblock signup_form %}
