{#
 # (c) 2024 Alberto Morón Hernández
 #}

{# first half of sign-up form, filtering prospects #}

{% block filter_prospect_form %}
    <form id="filterProspectForm" hx-post="/auth/filterProspect/">
        {# Q1/3: question - provider #}
        <div class="row mt-2">
            <div class="col-2 position-relative">
                <div class="row h-50"></div>
                <div class="row h-50">
                    <div class="col border-end border-1 border-black"></div>
                    <div class="col border-start border-1 border-black"></div>
                </div>
                <span
                    class="position-absolute top-50 start-50 translate-middle bg-white">
                    <i class="bi bi-1-circle-fill fs-3"></i>
                </span>
            </div>

            <div class="col-10">
                <p class="fs-5 mb-0">Who is your deposit registered with?</p>
            </div>
        </div>

        {# Q1/3: answer input #}
        <div class="row">
            <div class="col-1 border-end border-1 border-black"></div>
            <div class="col-1 border-start border-1 border-black"></div>
            <div class="col-10 pt-3 pb-5 ps-4">
                <div class="row">
                    <div class="col-12 form-check pb-3">
                        <input
                            class="form-check-input"
                            type="radio"
                            name="providerChoice"
                            value="tds"
                            id="providerTDS" />
                        <label
                            class="form-check-label"
                            for="providerTDS"
                            role="button">
                            Tenancy Deposit Scheme (TDS)
                        </label>
                    </div>
                    <div class="col-12 form-check">
                        <input
                            class="form-check-input"
                            type="radio"
                            name="providerChoice"
                            value="other"
                            id="providerOther" />
                        <label
                            class="form-check-label"
                            for="providerOther"
                            role="button">
                            A different provider
                        </label>
                    </div>
                </div>
            </div>
        </div>

        {# Q2/3: question - end date #}
        <div class="row">
            <div class="col-2 position-relative">
                <div class="row h-50">
                    <div class="col border-end border-1 border-black"></div>
                    <div class="col border-start border-1 border-black"></div>
                </div>
                <div class="row h-50">
                    <div class="col border-end border-1 border-black"></div>
                    <div class="col border-start border-1 border-black"></div>
                </div>
                <span
                    class="position-absolute top-50 start-50 translate-middle bg-white">
                    <i class="bi bi-2-circle-fill fs-3"></i>
                </span>
            </div>

            <div class="col-10">
                <p class="fs-5 mb-0">When does your tenancy end?</p>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <div class="row h-100">
                    <div class="col border-end border-1 border-black"></div>
                    <div class="col border-start border-1 border-black"></div>
                </div>
            </div>
            <div class="col-10">
                <p class="text-muted mb-0">
                    This can be a date in the past or the future.
                </p>
            </div>
        </div>

        {# Q2/3: answer input #}
        <div class="row">
            <div class="col-1 border-end border-1 border-black"></div>
            <div class="col-1 border-start border-1 border-black"></div>
            <div class="col-10 pt-3 ps-4">
                <label>
                    <input
                        type="date"
                        name="tenancyEndDate"
                        class="form-control" />
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col-1 border-end border-1 border-black"></div>
            <div class="col-1 border-start border-1 border-black"></div>
            <div class="col-10 col-md-6 pt-3 pb-5">
                <div
                    class="accordion accordion-flush"
                    id="accordionFlushExample">
                    <div class="accordion-item">
                        <h2
                            class="accordion-header border-bottom border-1 border-light">
                            <button
                                class="accordion-button collapsed p-1 text-muted"
                                type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseOne"
                                aria-expanded="false"
                                aria-controls="flush-collapseOne">
                                <i class="bi bi-info-circle pe-2"></i>
                                Why do we ask?
                            </button>
                        </h2>
                        <div
                            id="flush-collapseOne"
                            class="accordion-collapse collapse"
                            data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body py-1 text-muted">
                                The TDS dispute process is only available for
                                the three months after you leave a property.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {# first half form submission #}
        <div class="row">
            <div class="col-2 position-relative">
                <div class="row h-50">
                    <div class="col border-end border-1 border-black"></div>
                    <div class="col border-start border-1 border-black"></div>
                </div>
                <div class="row h-50"></div>
                <span
                    class="position-absolute top-50 start-50 translate-middle bg-white">
                    <i class="bi bi-arrow-right-circle fs-3"></i>
                </span>
            </div>

            <div class="col-10 col-md-6">
                <button type="submit" class="btn btn-primary float-end">
                    Next
                </button>
            </div>
        </div>
    </form>
{% endblock filter_prospect_form %}
