{#
 # (c) 2024 Alberto Morón Hernández
 #}

{%- macro editable_datepicker(label, value, disabled=True) -%}
    <label class="form-label fw-bold">
        {{ label }}
        <input
            type="date"
            value="{{ value }}"
            name="tenancyEndDate"
            class="form-control mt-1"
            {% if disabled %}disabled{% endif %} />
    </label>
    <a href="" class="ms-2">Edit</a>
{%- endmacro -%}
