{#
 #  (c) 2024 Alberto Morón Hernández
#}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover"/>
        <title>DepositDuck</title>
        <meta name="description" content=""/> <!-- TODO -->

        <!-- TODO: favicon -->

        <!-- TODO: stylesheet -->

        <script src="{{ url_for('static', path='/js/htmx-1.9.10.min.js') }}"></script>
    </head>

    <body>
        {% block header %}
        {% include "/common/_header.html.jinja2" %}
        {% endblock %}

        <div id="content">
            {% block content %}
            {% endblock content %}
        </div>

        {% block footer %}
        {% include "/common/_footer.html.jinja2" %}
        {% endblock %}
    </body>

</html>
