{#
 #  (c) 2024 Alberto Morón Hernández
#}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover"/>
        <title>DepositDuck</title>
        <meta name="description" content=""/> <!-- TODO -->

        <!-- TODO: favicon -->

        <!-- TODO: stylesheet -->
    </head>

    <body>
        <div id="content">
            <h1>Header</h1>
            <p>name: {{ app_name }}</p>
            {% block content %}
            {% endblock %}
        </div>
    </body>

</html>
