{#
 #  (c) 2024 Alberto Morón Hernández
 #}
<footer class="footer mt-auto py-3 bg-black text-bg-dark">
    <div class="container text-center">
        <p class="font-protest-strike">&copy; 2024 DepositDuck</p>
    </div>
</footer>
