{#
 #  (c) 2024 Alberto Morón Hernández
 #}
<nav class="navbar navbar-expand-md navbar-light bg-light mb-2">
    <div class="container-fluid">
        <a class="navbar-brand pt-0" href="#">
            <img
                src="{{ url_for('static', path='/svg/depositduck-logo.svg') }}"
                alt="The DepositDuck wordmark, with the Sterling duck mascot"
                height="42" />
        </a>
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbar"
            aria-controls="navbar"
            aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <!-- TODO: dynamically set aria-current="page" -->
                    <a class="nav-link active" href="/">Home</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
